header {
    background-image: url(../Images/fly1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    width: 100%;
}
.topnav {
    overflow: hidden;
    background-color: #e63946;
  }
  
  .topnav a {
    float: right;
    color: #f1faee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .topnav a:hover {
    background-color: #a8dadc;
    color: #f1faee;
  }
  
  .topnav a.active {
    background-color: #457b9d;
    color: #f1faee;
  }
  .search {
      width: 60%;
      margin: auto;
      margin-top: 80px;
  }
  .mainsearch {
     background-color: #f1faee;
     color: #1d3557; 
     font-size: 22px;
     width: 100%;
     padding: 0 0 0 25px;
     border: 1px #f1faee solid;
     border-radius: 30px;
     height: 60px;
  }
  .placestovisit {
      color: #1d3557;
      font-size: 36px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 60px;
      margin-left: 300px;
      margin-bottom: 30px;
  }
  .holder {
      width: 80%;
      margin: auto;
  }
  .places {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: auto;
      justify-content: space-around;
      margin-top: 10px;
  }
  .mombasa {
      background-image: url(../Images/mombasa.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 580px;
      height: 350px;
      margin: 30px;
      color: #1d3557;
      font-size: 48px;
      font-weight: 700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: left;
  }
  .nairobi {
      background-image: url(../Images/nairobi.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 580px;
      height: 350px;
      margin: 30px;
      color: #1d3557;
      font-size: 48px;
      font-weight: 700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: right;
  }
  .kisumu {
      background-image: url(../Images/kisumu.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 580px;
      height: 350px;
      margin: 30px;
      color: #1d3557;
      font-size: 48px;
      font-weight: 700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: right;
  }
  .nakuru {
      background-image: url(../Images/nakuru.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 580px;
      height: 350px;
      margin: 30px;
      color: #1d3557;
      font-size: 48px;
      font-weight: 700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: left;
  }
  #mba, #nku {
      padding-left: 20px;
      margin-top: 290px;
  }
  #nbo, #ksm {
      padding-right: 20px;
      margin-bottom: 290px;
  }
  footer {
      background-color: #e63946;
      margin-top: 50px;
  }
  .footerlinks {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      color: #f1faee;
      font-size: 18px;
  }
  .howitworks, .myaccount, .contactus, .aboutus, .faq {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
  }
  #howitworks, #contactus, #myaccount, #aboutus, #faq {
      margin: 5px;
  }