*{
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0%;
}
body{
    font-family: sans-serif;
    }
    nav{
        background: #E63946;
        height: 85px;
        width: 100%;
        
    }
    nav ul{
        float:right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 10px;
        margin-top: -15px;
        mar
    }
    nav ul li a{
        color: white;
        font-size: 17px;
    }
    .text{
        text-align: center;
        font-style: normal;
        padding-top: 10rem;
        background-image: url(./imagess/photo.jpeg);
        background-size: 200vh;
        background-repeat: no-repeat;
        image-orientation: initial; 
        padding: 300px;
    }
    .paragraph{
        position: absolute;
        color:black;
        font-weight: bold;
        font-family: sans-serif;
        column-fill: balance;
        tab-size: 50%;
        top: 50%;
        display: table-column-group;
        font-size: 1em;
        margin-bottom: 20rem; 
        
    }
    .main{
        position: absolute;
        margin-top: 7%;
        transform: translate(-50%,-50%);
        height: 40px;
        border-radius: 0px;
        padding: 10px;
        margin-left: 10%;            
        }
        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
         }
    
   
    






